﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    @*@Styles.Render("~/Content/css")*@

    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
    <link href="~/Content/css/fonts_googleapis.css" rel="stylesheet" />
    <!--<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.alerts.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
    <!--<link href="~/Content/css/style.css" rel="stylesheet" />-->

    <link href="~/Content/kendo/kendo.compatibility.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.504/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.504/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.504/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.504/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.504/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.504/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .dropdown-menu {
            z-index: 25000 !important;
        }
    </style>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Content/fonts/typicons/typicons.css">
    <link rel="stylesheet" href="~/Content/css/vendors/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <!--[if IE]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/js")
        @Scripts.Render("~/bundles/kendojs")*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/icheck.min.js"></script>
    <script src="~/Scripts/custom-tabs.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.ui-jalert.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/CommonModalPopups.js"></script>
    <script src="~/Scripts/kendo/2016.2.504/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2016.2.504/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-default").mouseover(function () {
                $(this).addClass('default-btnhover');
            });

            $(".btn-default").mouseout(function () {
                $(this).removeClass('default-btnhover');
            });
        });
    </script>
</head>
<body>
    <div class="addLoader"></div>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="~/Content/images/logo-white.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Content/images/logo-mini-white.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="typcn typcn-th-menu"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-profile dropdown">
                        Welcome to <span class="nav-profile-name">Kintal Dental Clinic</span>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-date dropdown">
                        <a class="nav-link d-flex justify-content-center align-items-center" href="javascript:;">
                            <h6 class="date mb-0">Today : @DateTime.Today.ToString("D") </h6>
                            <i class="typcn typcn-calendar"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">

            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item ml-0">
                        <h4 class="mb-0">Dashboard</h4>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex align-items-baseline">
                            <p class="mb-0">Home</p>
                            <i class="typcn typcn-chevron-right"></i>
                            <p class="mb-0">Main Dahboard</p>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-search d-none d-md-block mr-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search with Name, Mobile or Email..." aria-label="search" aria-describedby="search">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="typcn typcn-zoom"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close typcn typcn-times"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="typcn typcn-device-desktop menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                            <div class="badge badge-danger">new</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PatientDetails", "Home")">
                            <i class="typcn typcn-user-add-outline menu-icon"></i>
                            <span class="menu-title">New Patient</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PatientList", "Home")">
                            <i class="typcn typcn-group-outline menu-icon"></i>
                            <span class="menu-title">All Patient</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DrugList", "Drug")">
                            <i class="typcn typcn-database menu-icon"></i>
                            <span class="menu-title">Drug</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("TestList", "Test")">
                            <i class="typcn typcn-thermometer menu-icon"></i>
                            <span class="menu-title">Test</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LabList", "Lab")">
                            <i class="typcn typcn-globe-outline menu-icon"></i>
                            <span class="menu-title">Lab</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- partial -->

            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; @DateTime.Now.Year Medicare - Patient Management. All rights reserved.</span>
                                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Designed and Powered by <a href="https://coders.eternityindia.co.in/" target="_blank">Eternity Coders</a></span>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div><!-- page-body-wrapper ends -->
    </div>
    <!-- container scroller -->

    <div class="menu-overlay"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
  $(function () {
    $(".liLogOut").click(function () {
      window.location.href = $(this).attr('data-logout-url');
    });
    try {
      $(".sidebar").toggleClass('sidebartgl');
      localStorage.setItem('_menustatus', "1"); //set
      $('#tglrSpan').removeClass('glyphicon-chevron-right').removeClass('mnclose').addClass('glyphicon-chevron-left').addClass('mnopen');
      $(".tglrdiv").css({ 'left': '95%' });
      $("body").addClass('menu-open');
      $("#parentMenuItem").addClass("open");
      $("#subMenuitems").show();
      $("#subMenuitems").find('li').show();
      $(".tglrdiv").prop('title', 'Hide Menu');

      if ($(current_crm_menuId).length > 0) {
        var current_crm_menuId_id = $(current_crm_menuId).attr('id');
        $("#" + current_crm_menuId_id).addClass("active-crm-menu");
        $("#" + current_crm_menuId_id).closest('ul').closest('li').addClass("open");
        $("#" + current_crm_menuId_id).closest('ul').show();
        $("#" + current_crm_menuId_id).closest('ul').find('li').show();
      }

      setTimeout(function () {
        $("#wrapper, .sidebar").addClass("transeffect");
      }, 100);
    } catch (e) { }

  });
  function LogoutCRM(curlgoutspan) {
    //alert($(curlgoutspan).attr('data-logout-url'));
    window.location.href = $(curlgoutspan).attr('data-logout-url');
    }

    $(document).ready(function () {
        GetIspAndLatLongOfClient()
    });

    //function getLocation() {
    //    if (navigator.geolocation) {
    //        navigator.geolocation.getCurrentPosition(showPosition);
    //    } else {
    //        jAlert("Geolocation is not supported by this browser.");
    //    }
    //}

    //function getLocation(position) {
    //    $.getJSON('https://ipinfo.io/geo', function (response) {
    //        var loc = response.loc.split(',');
    //        var coords = {
    //            latitude: loc[0],
    //            longitude: loc[1]
    //        };

    //        alert(coords);
    //        var latitude = position.coords.latitude;
    //        var longitude = position.coords.longitude;
    //        GetIspOfClient(latitude, longitude);
    //    });
    //}

    function getLocation() {
        //$.getJSON('https://ipinfo.io/geo', function (response) {
        //    var loc = response.loc.split(',');
        //    var coords = {
        //        latitude: loc[0],
        //        longitude: loc[1]
        //    };

        //    alert(coords);
        //    var latitude = position.coords.latitude;
        //    var longitude = position.coords.longitude;
        //    GetIspOfClient(latitude, longitude);
        //});

        //$.ajax({
        //    dataType: "json",
        //    url: 'https://ipinfo.io/geo',
        //    // data: data,
        //    success: function (response) {
        //        var loc = response.loc.split(',');
        //    }
        //});

    //    $.getJSON('http://ip-api.com/json', function (data, status) {
    //    if (status === "success") {
    //        if (data.zip) { }
    //    }
    //});
    }

    function GetIspAndLatLongOfClient() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: 'http://ip-api.com/json?callback=?',
            success: function (responseData) {
                var isp = responseData["as"];
                var latitude = responseData["lat"];
                var longitude = responseData["lon"];
                CheckClientRegisterDeviceInfo(latitude, longitude, isp)
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                jAlert("error");
            }

        });
    }

    function CheckClientRegisterDeviceInfo(latitude, longitude, isp) {
        // jAlert(latitude + '--' + longitude + '--' + isp);
        @*$.ajax({
            url: '@Url.Action("CheckClientRegisterDeviceInformation", "Home")',
            type: "POST",
            cache: false,
            dataType: 'json',
            data:
            {
                lat: latitude,
                Longi: longitude,
                isp : isp
            }
        }).success(function (data) {
            if (data[0] == false) {
                window.location.href = '@Url.Action("Error", "Home")'
            }
        });*@
    }
</script>
<!-- base:js
<script src="~/Scripts/vendors/vendor.bundle.base.js"></script>-->
<!-- endinject -->
<!-- inject:js -->
<script src="~/Scripts/off-canvas.js"></script>
<script src="~/Scripts/hoverable-collapse.js"></script>
<script src="~/Scripts/template.js"></script>
<script src="~/Scripts/settings.js"></script>
<script src="~/Scripts/todolist.js"></script>
<!-- endinject -->