﻿@using Kintal_Detanl.Models;
@using Kendo.Mvc.UI;
@*RegisterViewModel*@

@{
    ViewBag.Title = "Lab List";
    IEnumerable<string> dateFormats = new string[] { "yyyy", "d-M-yyyy", "d-MM-yyyy", "dd-MM-yyyy", "d-M-yy", "d-MM-yy", "dd-MM-yy", "dd-MM", "d/M/yyyy", "d/MM/yyyy", "dd/MM/yyyy", "d/MM/yy", "dd/MM/yy", "dd/MM", "d.M.yyyy", "d.MM.yyyy", "dd.MM.yyyy", "d.M.yy", "d.MM.yy", "dd.MM.yy", "dd.MM", "dd", "MMM", "MMMM" };
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="col-md-6 card-title">Lab List</h4>
                    <div class="col-md-6 align-right"><a href="@Url.Action("LabDetails", "Lab")" style="margin-bottom: 10px;" class="btn btn-primary"><i class="typcn icon typcn-plus"></i> Add New Lab</a></div>
                </div>
                <div class="grid year-detail-table">
                    <div class="table-responsive">
                        @(Html.Kendo().Grid<LabViewModel>()
                              .Name("gridLab")
                              .Columns(columns =>
                              {
                                  //columns.Bound(x => x.SrNo).Title("Sr No").Width(40).Sortable(false).Filterable(false);
                                  columns.Bound(x => x.LabName).Title("Lab Name").Width(150);
                                  columns.Bound(x => x.Description).Title("Description").Width(150);
                                  columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='OpenPage(\"" + Url.Action("LabDetails", "Lab", new { id = "#=Id#",mode = "view" }) + "\");'><img src='" + @Url.Content("~/Content/images/action-view-04.png") + "' alt='Edit Lab'></a></span>").Sortable(false).Filterable(false);
                                  columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='OpenPage(\"" + Url.Action("LabDetails", "Lab", new { id = "#=Id#",mode = "edit" }) + "\");'><img src='" + @Url.Content("~/Content/images/action-02.png") + "' alt='Edit Lab'></a></span>").Sortable(false).Filterable(false);
                                  columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='DeleteLab(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-03.png") + "' alt='Delete Lab'></a></span>").Sortable(false).Filterable(false);
                                  //columns.Bound(x => x.LastTreatment).Title("Treatment Details").Width(300);
                              })
                              .Sortable()
                              .Scrollable(s => s.Virtual(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Filterable()
                              .HtmlAttributes(new { style = "min-height: 700px !important;" })
                              .AutoBind(false)
                              .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .PageSize(30)
                                  .Read(read => read.Action("BindLabList", "Lab").Type(HttpVerbs.Post))
                                  .ServerOperation(false)
                               )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var popup, dataTable;
    $(document).ready(function () {
        $("#gridLab").data("kendoGrid").dataSource.page(1);
        //setTimeout(function () { $("#gridLab").data("kendoGrid").dataSource.read(); }, 300);
    });


  function OpenPage(url) {
    location.href = url;
  }

  function DeleteLab(id) {
    jConfirm("Are you sure you want to delete this Lab Details?", "Confirmation Dialog", function(r) {
      if(r) {
        $.ajax({
          type: "DELETE",
          url: '@Url.Action("DeleteLab", "Lab")',
          data: { id: id },
          cache: false,
          dataType: 'json',
          error: function (jqXHR, exception) {
            jAlert(exception.toString());
          },
          success: function (data) {
            if (data[0] == true) {
                jAlert("Lab details deleted successfully.", 'Information Dialog', function () {
                    $('#gridLab').data('kendoGrid').dataSource.read(); 
                    $('#gridLab').data('kendoGrid').refresh();
              });
            }
            else {
              jAlert(data[1].toString(), 'Information Dialog');
            }
          }
        });
      }
    });
  }
</script>
