﻿@using Kintal_Detanl.Models;
@using Kendo.Mvc.UI;
@*RegisterViewModel*@

@{
  ViewBag.Title = "Patient List";
  IEnumerable<string> dateFormats = new string[] { "yyyy", "d-M-yyyy", "d-MM-yyyy", "dd-MM-yyyy", "d-M-yy", "d-MM-yy", "dd-MM-yy", "dd-MM", "d/M/yyyy", "d/MM/yyyy", "dd/MM/yyyy", "d/MM/yy", "dd/MM/yy", "dd/MM", "d.M.yyyy", "d.MM.yyyy", "dd.MM.yyyy", "d.M.yy", "d.MM.yy", "dd.MM.yy", "dd.MM", "dd", "MMM", "MMMM" };
}


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="align-right"><a href="@Url.Action("PatientDetails", "Home")" class="btn btn-primary"><i class="typcn icon typcn-plus"></i> Add New Patient</a></div>
                <h4 class="card-title">Patient Search</h4>

                <form class="form-horizontal filter-form">
                    <div class="clearfix column-outer row" style="width:100%;">
                        <div class="column col">
                            <label>Search With</label>
                            <input type="text" id="searchPatient" name="searchPatient" placeholder="Name, Mobile Or Email" class="form-control" />
                        </div>
                        <div class="column col">
                            <label>From Date</label>
                            @Html.Kendo().DatePicker().Name("FromDate").HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                        </div>
                        <div class="column col">
                            <label>To Date</label>
                            @Html.Kendo().DatePicker().Name("ToDate").HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                        </div>
                        <div class="column col">
                            <label>Search Mode</label>
                            <select class="custom-select" id="selectModePatient">
                                <option selected="selected" value="0">Keyword Search</option>
                                <option value="1">Just List All</option>
                            </select>
                        </div>
                        <div class="column col">
                            <label>&nbsp;</label>
                            <input type="button" class="form-control btn btn-primary" title="Search" onclick="SearchPatient();" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Patient List</h4>
                <div class="grid year-detail-table">
                    <div class="table-responsive">
                        @(Html.Kendo().Grid<RegisterViewModel>()
          .Name("gridPatient")
          .Columns(columns =>
          {
              //columns.Bound(x => x.SrNo).Title("Sr No").Width(40).Sortable(false).Filterable(false);
              columns.Bound(x => x.Name).Title("Patient Name").Width(150);
              columns.Bound(x => x.Email).Title("Email").Width(200);
              columns.Bound(x => x.Mobile).Title("Mobile").Width(100);
              columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='OpenPage(\"" + Url.Action("PatientDetails", "Home", new { id = "#=Id#",mode = "view" }) + "\");'><img src='" + @Url.Content("~/Content/images/action-view-04.png") + "' alt='Edit Patient'></a></span>").Sortable(false).Filterable(false);
              columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='OpenPage(\"" + Url.Action("PatientDetails", "Home", new { id = "#=Id#",mode = "edit" }) + "\");'><img src='" + @Url.Content("~/Content/images/action-02.png") + "' alt='Edit Patient'></a></span>").Sortable(false).Filterable(false);
              columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='DeletePatient(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-03.png") + "' alt='Delete Patient'></a></span>").Sortable(false).Filterable(false);
              //columns.Bound(x => x.LastTreatment).Title("Treatment Details").Width(300);
          })
          .Sortable()
          .Scrollable(s => s.Virtual(true).Height("auto"))
          .Resizable(resize => resize.Columns(true))
          .Filterable()
          .HtmlAttributes(new { style = "min-height: 700px !important;" })
          .AutoBind(true)
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(30)
              .Read(read => read.Action("BindPatientList", "Home").Type(HttpVerbs.Post))
              .ServerOperation(false)
           )
    )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  function SearchPatient() {
    $("#gridPatient").data("kendoGrid").dataSource.page(1);
    setTimeout(function () { $("#gridPatient").data("kendoGrid").dataSource.read({ "searchText": $("#searchPatient").val(), "selectMode": $("#selectModePatient").val(), "fromDate": $("#FromDate").val(), "toDate": $("#ToDate").val() }); }, 300);
  }

  function OpenPage(url) {
    location.href = url;
  }

  function DeletePatient(id) {
    jConfirm("Are you sure you want to delete this Patient Details?", "Confirmation Dialog", function(r) {    
      if(r) {
        $.ajax({
          type: "POST",
          url: '@Url.Action("DeletePatient", "Home")',
          data: { id: id },
          cache: false,
          dataType: 'json',
          error: function (jqXHR, exception) {
            jAlert(exception.toString());
          },
          success: function (data) {
            if (data[0] == true) {
              jAlert("Patient details deleted successfully.", 'Information Dialog', function () {
                SearchPatient();
              });
            }
            else {
              jAlert(data[1].toString(), 'Information Dialog');
            }
          }
        });
      }
    });
  }
</script>
