﻿@using Kintal_Detanl.Models;
@model RegisterViewModel
@using Kendo.Mvc.UI;

@{
    IEnumerable<string> dateFormats = new string[] { "yyyy", "d-M-yyyy", "d-MM-yyyy", "dd-MM-yyyy", "d-M-yy", "d-MM-yy", "dd-MM-yy", "dd-MM", "d/M/yyyy", "d/MM/yyyy", "dd/MM/yyyy", "d/MM/yy", "dd/MM/yy", "dd/MM", "d.M.yyyy", "d.MM.yyyy", "dd.MM.yyyy", "d.M.yy", "d.MM.yy", "dd.MM.yy", "dd.MM", "dd", "MMM", "MMMM" };
    ViewBag.Title = "Patient Details";
}


<style>
    .k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-colorpicker .k-i-arrow-s, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row > th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
        border: 0.5px solid #f3f3f3 !important;
        color: #495057 !important;
        opacity: 0.9;
    }

        .k-autocomplete.k-state-default .k-input, .k-combobox .k-state-default .k-input, .k-multiselect-wrap, .k-numeric-wrap.k-state-default .k-input, .k-picker-wrap.k-state-default .k-input, .k-progress-status-wrap, .k-slider-selection, .k-slider-track {
            box-shadow: unset !important;
        }

        .k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
            height: 40px;
        }

    .k-numeric-wrap .k-select {
        padding-top: 5px !important;
    }

    select.form-control, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
        color: #495057;
    }

    .k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmPatient" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Enter Patient Details</h4>
        <hr />*@
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row" style="margin-top:-15px;">
        <div class="col-12 grid-margin">
            <div class="demo-section">
                @(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .Animation(animation =>
              animation.Open(effect =>
                  effect.Fade(FadeDirection.In)))
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("Patient Details")
                  .Encoded(false)
                  .Selected(true)
                  .Content(@<text>

                <div style="padding: 15px;">

                    <div class="form-block">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row upload-avatar widget-3 custom-text">
                                    <div class="col-lg-12">
                                        <div class="form-input">
                                            <label class="labeltest" for="profile-pic"><span> Drop image here or click to upload. </span></label>
                                            <input type="file" id="profile-pic" accept="image/*" onchange="showPreview(event);">
                                            <div class="preview">
                                                <img id="profile-pic-preview" src="#" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Patient Name" })</div>
                                </div>
                                @*<div class="form-group row">
                                        <div class="col-sm-12">@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })</div>
                                    </div>*@
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" }) @*<input type="email" class="form-control" placeholder="Email" />*@</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile No." }) @*<input type="tel" class="form-control" placeholder="Mobile No." />*@</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.Kendo().NumericTextBoxFor(x => x.PatientWeight).HtmlAttributes(new { style = "width:100%;", @placeholder = "Patient Weight", @Class = "kendocontrol" }).Format("0.00") @*<input type="tel" class="form-control" placeholder="Mobile No." />*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    @*<div class="col-sm-12"><input type="date" class="form-control" placeholder="Date of Birth" /></div>*@
                                    @Html.Kendo().DatePickerFor(x => x.DOB).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1", placeholder = "Select Date of Birth" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.DropDownListFor(m => m.MaritalStatus, new List<SelectListItem>() { new SelectListItem { Text = "Select Marital Status", Value = "", Selected = true }, new SelectListItem { Text = "Married", Value = "married" }, new SelectListItem { Text = "Unmarried", Value = "unmarried" } }, new { @class = "form-control" })
                                        @*<select class="form-control">
                                                <option selected>Marital Status</option>
                                                <option>Married</option>
                                                <option>Unmarried</option>
                                            </select>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>() { new SelectListItem { Text = "Select Gender", Value = "", Selected = true }, new SelectListItem { Text = "Male", Value = "male" }, new SelectListItem { Text = "Female", Value = "female" } }, new { @class = "form-control" })
                                        @*<select class="form-control">
                                                <option selected>Sex</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.DropDownListFor(m => m.BloodGroup, new List<SelectListItem>() {
                                           new SelectListItem { Text = "Select Blood Group", Value = "", Selected = true },
                                           new SelectListItem { Text = "A+", Value = "A+" },
                                           new SelectListItem { Text = "A-", Value = "A-" },
                                           new SelectListItem { Text = "B+", Value = "B+" },
                                           new SelectListItem { Text = "B-", Value = "B-" },
                                           new SelectListItem { Text = "O+", Value = "O+" },
                                           new SelectListItem { Text = "O-", Value = "O-" },
                                           new SelectListItem { Text = "AB+", Value = "AB+" },
                                           new SelectListItem { Text = "AB-", Value = "AB-" },
                                        }, new { @class = "form-control" })
                                        @*<select class="form-control">
                                                <option selected>Blood Group</option>
                                                <option>A+</option>
                                                <option>A-</option>
                                                <option>B+</option>
                                                <option>B-</option>
                                                <option>O+</option>
                                                <option>O-</option>
                                                <option>AB+</option>
                                                <option>AB-</option>
                                            </select>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.Kendo().NumericTextBoxFor(x => x.PatientHeight).HtmlAttributes(new { style = "width:100%;", @placeholder = "Patient Height", @Class = "kendocontrol" }).Format("0")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @rows = "3" }) @*<textarea class="form-control" placeholder="Address" rows="3"></textarea>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextAreaFor(m => m.PatientHistory, new { @class = "form-control", @placeholder = "Patient History", @rows = "3" }) </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-12 text-right">
                                <input type="button" onclick="AddNewTreatmentDetails();" class="btn btn-primary" value="Add Treatment Details" />
                            </div>
                        </div>*@
                    </div>

                    <h4 class="card-title">Patient Medical History</h4>
                    <div class="form-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.DiseasesName, new { @class = "form-control", @placeholder = "Diseases Name" })</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <p class="card-description">Any Allergy?</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                Yes
                                                @Html.RadioButtonFor(model => model.IsAnyAllergy, true, new { @onchange = "OnAllergyChanged('true');" })
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                No
                                                @Html.RadioButtonFor(model => model.IsAnyAllergy, false, new { @onchange = "OnAllergyChanged('false');" })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="form-control">
                                                <option selected>Family History</option>
                                                <option>Mother</option>
                                                <option>Father</option>
                                                <option>Brother</option>
                                                <option>Sister</option>
                                            </select>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.DiseasesDetails, new { @class = "form-control", @placeholder = "Diseases Details" })</div>
                                </div>
                                <div class="form-group row" id="Allergy_div">
                                    <div class="col-sm-12">@Html.TextAreaFor(m => m.AllergyDetails, new { @class = "form-control", @placeholder = "Allergy Details", @rows = "3" })</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn-outer">
                                <input type="button" onclick="SavePatientData();" class="btn btn-primary" value="Save" />
                                <input type="button" onclick="OpenPage('@Url.Action("PatientList", "Home")');" class="btn btn-light" value="Close" />
                            </div>
                        </div>
                    </div>
                </div>
                </text>);

                tabstrip.Add().Text("Treatment Details")
                  .Encoded(false)
                  .Enabled(Model.Id > 0)
                  .Content(@<text>

                    <div style="padding: 15px;">
                         <div class="form-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                     <div class="form-group">
                                         @Html.LabelFor(m => m.TreatmentViewModelData.DoctorName, new { @class = "col-md-5 control-label" })
                                         <div class="col-md-7">
                                             @Html.TextBoxFor(m => m.TreatmentViewModelData.DoctorName, new { @class = "form-control" })
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         @Html.LabelFor(m => m.TreatmentViewModelData.LabId, new { @class = "col-md-5 control-label" })
                                         <div class="col-md-7">
                                             @(Html.Kendo().DropDownListFor(x => x.TreatmentViewModelData.LabId)
                                                 .DataTextField("Text")
                                                 .DataValueField("Value")
                                                 .Value(Model.TreatmentViewModelData.LabId.ToString())
                                                 .HtmlAttributes(new { style = "width: 100%;", @class = "" })
                                                 .AutoBind(true)
                                                 .MinLength(3)
                                                 .DataSource(source =>
                                                 {
                                                     source.Read(read =>
                                                     {
                                                         read.Action("BindLabDropDown", "Home").Type(HttpVerbs.Post);
                                                     })
                                                     .ServerFiltering(false);
                                                 })
                                             )
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         @Html.LabelFor(m => m.TreatmentViewModelData.AppointmentDate, new { @class = "col-md-5 control-label" })
                                         <div class="col-md-7">
                                             @Html.Kendo().DatePickerFor(x => x.TreatmentViewModelData.AppointmentDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                     <div class="form-group">
                                         @Html.LabelFor(m => m.TreatmentViewModelData.TreatmentDate, new { @class = "col-md-5 control-label" })
                                         <div class="col-md-7">
                                             @Html.Kendo().DatePickerFor(x => x.TreatmentViewModelData.TreatmentDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         @Html.LabelFor(m => m.TreatmentViewModelData.Treatment, new { @class = "col-md-5 control-label" })
                                         <div class="col-md-7">
                                             @Html.TextAreaFor(m => m.TreatmentViewModelData.Treatment, new { @class = "form-control", @rows = "3" })
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         @Html.LabelFor(m => m.TreatmentViewModelData.Charges, new { @class = "col-md-5 control-label" })
                                         <div class="col-md-7">
                                             @Html.Kendo().NumericTextBoxFor(x => x.TreatmentViewModelData.Charges).HtmlAttributes(new { style = "width:100%;", @Class = "kendocontrol" }).Format("0.00")
                                         </div>
                                     </div>
                                 </div>
                                 <hr class="hr">
                                 @*<div class="btn-outer">
                                         <input type="button" onclick="ClearTreatmentDetails();" class="btn btn-default" value="Clear Details" />
                                     </div>*@
                             </div>
                             <div class="row">
                                 <div class="col-md-6">
                                    <input type="button" onclick="SavedPatientTreatmentData();" class="btn btn-primary" value="Save" />
                                    <input type="button" onclick="ClearTreatmentDetails();" class="btn btn-light" value="Clear Treatment" />
                                </div>
                                 <div class="col-md-6 text-right">
                                     <input type="button" onclick="AddDrugOrTest('drug');" value="Add Drugs" class="btn btn-primary" />
                                     <input type="button" onclick="AddDrugOrTest('test');" value="Add Test" class="btn btn-primary" />
                                 </div>
                             </div>
                         </div>

                        <div class="col-md-12 grid-margin stretch-card" id="Drug_div" style="display: none; padding-top: 30px;">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Drugs Details</h4>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientDrugsViewModel.DrugType, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.PatientDrugsViewModel.DrugType, new { @class = "form-control", @placeholder = "Type" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientDrugsViewModel.DrugId, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @*@Html.TextBoxFor(m => m.PatientDrugsViewModel.DrugId, new { @class = "form-control", @placeholder = "Select Drug" })*@
                                                    @(Html.Kendo().DropDownListFor(x => x.PatientDrugsViewModel.DrugId)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Value(Model.PatientDrugsViewModel.DrugId.ToString())
                                                        .HtmlAttributes(new { style = "width: 100%;", @class = "" })
                                                        .AutoBind(true)
                                                        .MinLength(3)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("BindDrugDropDown", "Home").Type(HttpVerbs.Post);
                                                            })
                                                            .ServerFiltering(false);
                                                        })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientDrugsViewModel.Dosage, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.PatientDrugsViewModel.Dosage, new { @class = "form-control", @placeholder = "MG / MCG / ML" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientDrugsViewModel.Frequency, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.PatientDrugsViewModel.Frequency, new { @class = "form-control", @placeholder = "Once daily / Twice a day" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientDrugsViewModel.Notes, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(m => m.PatientDrugsViewModel.Notes, new { @class = "form-control", @placeholder = "Advice / Comment", @rows = "3" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <input type="button" onclick="SavedPatientDrug();" class="btn btn-primary" value="Save" />
                                            <input type="button" onclick="ClearDrugsDetails();" class="btn btn-light" value="Close" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card" id="Test_div" style="display: none; padding-top: 30px;">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Tests Details</h4>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientTestsViewModel.TestId, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @*@Html.TextBoxFor(m => m.PatientTestsViewModel.TestId, new { @class = "form-control", @placeholder = "Type" })*@
                                                    @(Html.Kendo().DropDownListFor(x => x.PatientTestsViewModel.TestId)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Value(Model.PatientTestsViewModel.TestId.ToString())
                                                        .HtmlAttributes(new { style = "width: 100%;", @class = "" })
                                                        .AutoBind(true)
                                                        .MinLength(3)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("BindTestDropDown", "Home").Type(HttpVerbs.Post);
                                                            })
                                                            .ServerFiltering(false);
                                                        })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientTestsViewModel.TestDate, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @*@Html.TextBoxFor(m => m.PatientTestsViewModel.TestDate, new { @class = "form-control", @placeholder = "Select Date" })*@
                                                    @Html.Kendo().DatePickerFor(x => x.PatientTestsViewModel.TestDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientTestsViewModel.TestResult, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.PatientTestsViewModel.TestResult, new { @class = "form-control", @placeholder = "Result" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PatientTestsViewModel.Notes, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(m => m.PatientTestsViewModel.Notes, new { @class = "form-control", @placeholder = "Advice / Comment", @rows = "3" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <input type="button" onclick="SavedPatientTest();" class="btn btn-primary" value="Save" />
                                            <input type="button" onclick="ClearTestsDetails();" class="btn btn-light" value="Close" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card" id="Drug_list_div" style="display: none; padding-top: 30px;">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Drugs List</h4>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="grid year-detail-table">
                                                <div class="table-responsive">
                                                    @(Html.Kendo().Grid<PatientDrugsViewModel>()
                                                        .Name("gridPatientDrugs")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(x => x.DrugName).Title("Drug Name").Width(150);
                                                            //columns.Bound(x => x.Dosage).Title("Appointment Date").ClientTemplate("<span class='value' title='View Note'>#=AppointmentDate == null ? '' : kendo.toString(AppointmentDate, 'dd/MM/yyyy')#</span>").Width(110);
                                                            columns.Bound(x => x.Dosage).Title("Dosage").Width(150);
                                                            columns.Bound(x => x.DrugType).Title("Drug Type").Width(150);
                                                            columns.Bound(x => x.Frequency).Title("Frequency").Width(150);
                                                            columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='FillDrugData(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-02.png") + "' alt='Edit Patient'></a></span>").Sortable(false).Filterable(false);
                                                            columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='DeleteDrugs(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-03.png") + "' alt='Delete Patient'></a></span>").Sortable(false).Filterable(false);
                                                        })
                                                        .Sortable()
                                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                                        .Resizable(resize => resize.Columns(true))
                                                        .Filterable()
                                                        //.HtmlAttributes(new { style = "min-height: 700px !important;" })
                                                        .AutoBind(Model.TreatmentViewModelData.Id > 0)
                                                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(30)
                                                            .Read(read => read.Action("BindPatientDrugList", "Home", new { treatmentId = Model.TreatmentViewModelData.Id }).Type(HttpVerbs.Post))
                                                            .ServerOperation(false)
                                                        )
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 grid-margin stretch-card" id="Test_list_div" style="display: none; padding-top: 30px;">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Tests List</h4>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="grid year-detail-table">
                                                <div class="table-responsive">
                                                    @(Html.Kendo().Grid<PatientTestsViewModel>()
                                                        .Name("gridPatientTests")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(x => x.TestName).Title("Test Name").Width(150);
                                                            columns.Bound(x => x.TestDate).Title("Test Date").ClientTemplate("<span class='value' title='View Note'>#=TestDate == null ? '' : kendo.toString(TestDate, 'dd/MM/yyyy')#</span>").Width(110);
                                                            columns.Bound(x => x.TestResult).Title("Test Result").Width(150);
                                                            columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='FillTestData(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-02.png") + "' alt='Edit Patient'></a></span>").Sortable(false).Filterable(false);
                                                            columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='DeleteTests(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-03.png") + "' alt='Delete Patient'></a></span>").Sortable(false).Filterable(false);
                                                        })
                                                        .Sortable()
                                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                                        .Resizable(resize => resize.Columns(true))
                                                        .Filterable()
                                                        //.HtmlAttributes(new { style = "min-height: 700px !important;" })
                                                        .AutoBind(Model.TreatmentViewModelData.Id > 0)
                                                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(30)
                                                            .Read(read => read.Action("BindPatientTestList", "Home", new { treatmentId = Model.TreatmentViewModelData.Id }).Type(HttpVerbs.Post))
                                                            .ServerOperation(false)
                                                        )
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  </text>);
          })
    )
            </div>
        </div>

        <!--<div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Patient Details</h4>
                    <div class="form-block">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row upload-avatar widget-3 custom-text">
                                    <div class="col-lg-12">
                                        <div class="form-input">
                                            <label class="labeltest" for="profile-pic"><span> Drop image here or click to upload. </span></label>
                                            <input type="file" id="profile-pic" accept="image/*" onchange="showPreview(event);">
                                            <div class="preview">
                                                <img id="profile-pic-preview" src="#" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Patient Name" })</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })-->
        @*<input type="email" class="form-control" placeholder="Email" />*@
        <!--</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">@Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile No." })-->
        @*<input type="tel" class="form-control" placeholder="Mobile No." />*@
        <!--</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                @Html.Kendo().NumericTextBoxFor(x => x.PatientWeight).HtmlAttributes(new { style = "width:100%;", @placeholder = "Patient Weight", @Class = "kendocontrol" }).Format("0.00")-->
        @*<input type="tel" class="form-control" placeholder="Mobile No." />*@
        <!--</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    @Html.Kendo().DatePickerFor(x => x.DOB).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1", placeholder = "Select Date of Birth" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        @Html.DropDownListFor(m => m.MaritalStatus, new List<SelectListItem>() { new SelectListItem { Text = "Select Marital Status", Value = "", Selected = true }, new SelectListItem { Text = "Married", Value = "married" }, new SelectListItem { Text = "Unmarried", Value = "unmarried" } }, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>() { new SelectListItem { Text = "Select Gender", Value = "", Selected = true }, new SelectListItem { Text = "Male", Value = "male" }, new SelectListItem { Text = "Female", Value = "female" } }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        @Html.DropDownListFor(m => m.BloodGroup, new List<SelectListItem>() {
                            new SelectListItem { Text = "Select Blood Group", Value = "", Selected = true },
                            new SelectListItem { Text = "A+", Value = "A+" },
                            new SelectListItem { Text = "A-", Value = "A-" },
                            new SelectListItem { Text = "B+", Value = "B+" },
                            new SelectListItem { Text = "B-", Value = "B-" },
                            new SelectListItem { Text = "O+", Value = "O+" },
                            new SelectListItem { Text = "O-", Value = "O-" },
                            new SelectListItem { Text = "AB+", Value = "AB+" },
                            new SelectListItem { Text = "AB-", Value = "AB-" },
                        }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        @Html.Kendo().NumericTextBoxFor(x => x.PatientHeight).HtmlAttributes(new { style = "width:100%;", @placeholder = "Patient Height", @Class = "kendocontrol" }).Format("0")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col-sm-12">
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @rows = "3" })-->
        @*<textarea class="form-control" placeholder="Address" rows="3"></textarea>*@
        <!--</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextAreaFor(m => m.PatientHistory, new { @class = "form-control", @placeholder = "Patient History", @rows = "3" }) </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <input type="button" onclick="AddNewTreatmentDetails();" class="btn btn-primary" value="Add Treatment Details" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div

        <div class="col-md-12 grid-margin stretch-card" id="divTreatment" style="display: none;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Patient Treatment Details</h4>
                    <div class="form-block">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TreatmentViewModelData.DoctorName, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.TreatmentViewModelData.DoctorName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TreatmentViewModelData.LabId, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-7">
                                        @(Html.Kendo().DropDownListFor(x => x.TreatmentViewModelData.LabId)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .Value(Model.TreatmentViewModelData.LabId.ToString())
                                            .HtmlAttributes(new { style = "width: 100%;", @class = "" })
                                            .AutoBind(true)
                                            .MinLength(3)
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("BindLabDropDown", "Home").Type(HttpVerbs.Post);
                                                })
                                                .ServerFiltering(false);
                                            })
                                        )
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TreatmentViewModelData.AppointmentDate, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-7">
                                        @Html.Kendo().DatePickerFor(x => x.TreatmentViewModelData.AppointmentDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TreatmentViewModelData.TreatmentDate, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-7">
                                        @Html.Kendo().DatePickerFor(x => x.TreatmentViewModelData.TreatmentDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TreatmentViewModelData.Treatment, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(m => m.TreatmentViewModelData.Treatment, new { @class = "form-control", @rows = "3" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TreatmentViewModelData.Charges, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-7">
                                        @Html.Kendo().NumericTextBoxFor(x => x.TreatmentViewModelData.Charges).HtmlAttributes(new { style = "width:100%;", @Class = "kendocontrol" }).Format("0.00")
                                    </div>
                                </div>
                            </div>
                            <hr class="hr">

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <input type="button" onclick="ClearTreatmentDetails();" value="Clear Details" class="btn btn-light" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

    @*<div class="form-block" id="divTreatment" style="display: none;">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Patient Treatment Details</h3></div>
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TreatmentViewModelData.DoctorName, new { @class = "col-md-5 control-label" })
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.TreatmentViewModelData.DoctorName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TreatmentViewModelData.LabId, new { @class = "col-md-5 control-label" })
                                            <div class="col-md-7">
                                                @(Html.Kendo().DropDownListFor(x => x.TreatmentViewModelData.LabId)
                                                  .DataTextField("Text")
                                                  .DataValueField("Value")
                                                  .Value(Model.TreatmentViewModelData.LabId.ToString())
                                                  .HtmlAttributes(new { style = "width: 100%;", @class = "custom-select" })
                                                  .AutoBind(true)
                                                  .MinLength(3)
                                                  .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("BindLabDropDown", "Home").Type(HttpVerbs.Post);
                                                      })
                                                      .ServerFiltering(false);
                                                  })
                                                )
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TreatmentViewModelData.AppointmentDate, new { @class = "col-md-5 control-label" })
                                            <div class="col-md-7">
                                                @Html.Kendo().DatePickerFor(x => x.TreatmentViewModelData.AppointmentDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "width:100%; border: 0; height:auto;", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TreatmentViewModelData.TreatmentDate, new { @class = "col-md-5 control-label" })
                                            <div class="col-md-7">
                                                @Html.Kendo().DatePickerFor(x => x.TreatmentViewModelData.TreatmentDate).HtmlAttributes(new { @class = "form-control kendocontrol", style = "width:100%; border: 0; height:auto;", @tabindex = "1" }).Format("dd/MM/yyyy").ParseFormats(dateFormats)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TreatmentViewModelData.Treatment, new { @class = "col-md-5 control-label" })
                                            <div class="col-md-7">
                                                @Html.TextAreaFor(m => m.TreatmentViewModelData.Treatment, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TreatmentViewModelData.Charges, new { @class = "col-md-5 control-label" })
                                            <div class="col-md-7">
                                                @Html.Kendo().NumericTextBoxFor(x => x.TreatmentViewModelData.Charges).HtmlAttributes(new { style = "width:100%;", @Class = "kendocontrol" }).Format("0.00")
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div class="btn-outer">
                                        <input type="button" onclick="ClearTreatmentDetails();" class="btn btn-default" value="Clear Details" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<hr class="hr">
        <div class="btn-outer">
            <input type="button" onclick="SavePatientData();" class="btn btn-primary" value="Save" />
            <input type="button" onclick="OpenPage('@Url.Action("PatientList", "Home")');" class="btn btn-default" value="Close" />
        </div>*@
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.TreatmentViewModelData.Id)
    @Html.HiddenFor(x => x.PatientDrugsViewModel.Id)
    @Html.HiddenFor(x => x.PatientTestsViewModel.Id)
    @Html.HiddenFor(x => x.TreatmentViewModelData.PatientId)

    <div class="form-block" id="divTreatmentGrid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Patient Treatment History</h3></div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="grid year-detail-table">
                                    <div class="table-responsive">
                                        @(Html.Kendo().Grid<TreatmentViewModel>()
                                                 .Name("gridTreatmentHistory")
                                                 .Columns(columns =>
                                                 {
                                                     columns.Bound(x => x.DoctorName).Title("Doctor Name").Width(150);
                                                     columns.Bound(x => x.AppointmentDate).Title("Appointment Date").ClientTemplate("<span class='value' title='View Note'>#=AppointmentDate == null ? '' : kendo.toString(AppointmentDate, 'dd/MM/yyyy')#</span>").Width(110);
                                                     columns.Bound(x => x.TreatmentDate).Title("Treatment Date").ClientTemplate("<span class='value' title='View Note'>#=TreatmentDate == null ? '' : kendo.toString(TreatmentDate, 'dd/MM/yyyy')#</span>").Width(110);
                                                     columns.Bound(x => x.Treatment).Title("Treatment Details").Width(300);
                                                     columns.Bound(x => x.LabName).Title("Lab Name");
                                                     columns.Bound(x => x.Charges).Title("Charges").Width(90);
                                                     columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='FillTreatmentData(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-02.png") + "' alt='Edit Patient'></a></span>").Sortable(false).Filterable(false);
                                                     columns.Bound(x => x.Id).Title("").Width(40).ClientTemplate("<span class='value'><a style='cursor: pointer;' onclick='DeleteTreatment(\"#=Id#\");'><img src='" + @Url.Content("~/Content/images/action-03.png") + "' alt='Delete Patient'></a></span>").Sortable(false).Filterable(false);
                                                 })
                                                 .Sortable()
                                                 .Scrollable(s => s.Enabled(true).Height("auto"))
                                                 .Resizable(resize => resize.Columns(true))
                                                 .Filterable()
                                                 //.HtmlAttributes(new { style = "min-height: 700px !important;" })
                                                 .AutoBind(Model.Id > 0)
                                                 .DataSource(dataSource => dataSource
                                                     .Ajax()
                                                     .PageSize(30)
                                                     .Read(read => read.Action("BindTreatmentList", "Home", new { patientId = Model.Id }).Type(HttpVerbs.Post))
                                                     .ServerOperation(false)
                                                  )
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

	$(function() {
		if ('@ViewBag.PageMode' == "view") {
			$("#frmPatient :input").prop('disabled', 'disabled');
			//$("#DOB").prop("disabled", "disabled");
			//$("#DOB").attr("readonly", "readonly");
		}

		if (parseInt('@Model.Id') > 0) {
			if (String('@Model.ProfileBase64String').trim() != "") {
				$('#profile-pic-preview').css('display', 'block');
				$('#profile-pic-preview').attr('src', '@Model.ProfileBase64String');
				changeProfileCss(true);
				////$(".upload-avatar").css("background-image", "url(" + '@Model.ProfileBase64String' + ")");
			}
			OnAllergyChanged('@Model.IsAnyAllergy');
		} else {
			OnAllergyChanged('false');
		}
	});

    function AddNewTreatmentDetails() {
	    $("#divTreatment").show(100);
	    $("#TreatmentViewModelData_DoctorName").val('');
	    var dropdownlist = $("#TreatmentViewModelData_LabId").data("kendoDropDownList");
	    dropdownlist.select(0);

	    var apptDate = '@string.Format("{0:yyyy-MM-dd}", DateTime.Now)';

	    $("#TreatmentViewModelData_AppointmentDate").val(apptDate.split("-").reverse().join("/"));
	    $("#TreatmentViewModelData_TreatmentDate").val(apptDate.split("-").reverse().join("/"));
	    $("#TreatmentViewModelData_Treatment").val('');
	    $("#TreatmentViewModelData.Id").val('');
	    $("#TreatmentViewModelData.PatientId").val('');
	    var numericTextBox = $("#TreatmentViewModelData_Charges").data("kendoNumericTextBox");
	    numericTextBox.value(0);
    }

    function SavePatientData() {
	    if (ValidateCtrl()) {

		    var patientData = {
			    Id: $('#Id').val(),
			    Name: $('#Name').val(),
			    LastName: $('#LastName').val(),
			    Email: $('#Email').val(),
			    Address: $('#Address').val(),
			    Mobile: $('#Mobile').val(),
			    DOB: $('#DOB').val().split("/").reverse().join("-"),
			    MaritalStatus: $('#MaritalStatus').val(),
			    Gender: $('#Gender').val(),
			    BloodGroup: $('#BloodGroup').val(),
			    PatientHeight: $('#PatientHeight').val(),
			    PatientWeight: $('#PatientWeight').val(),
			    PatientHistory: $('#PatientHistory').val(),
			    DiseasesName: $('#DiseasesName').val(),
			    DiseasesDetails: $('#DiseasesDetails').val(),
			    IsAnyAllergy: $('input[id="IsAnyAllergy"]:checked').val(),
			    AllergyDetails: $('#AllergyDetails').val()
		    };


		    //var treatmentData = {
		    //	Id: $('#TreatmentViewModelData_Id').val(),
		    //	PatientId: $('#TreatmentViewModelData_PatientId').val(),
		    //	DoctorName: $('#TreatmentViewModelData_DoctorName').val(),
		    //	AppointmentDate: $('#TreatmentViewModelData_AppointmentDate').val().split("/").reverse().join("-"),
		    //	TreatmentDate: $('#TreatmentViewModelData_TreatmentDate').val().split("/").reverse().join("-"),
		    //	Treatment: $('#TreatmentViewModelData_Treatment').val(),
		    //	LabId: $('#TreatmentViewModelData_LabId').val(),
		    //	Charges: $('#TreatmentViewModelData_Charges').val()
		    //};

		    var formData = new FormData();
		    formData.append("patientData", JSON.stringify(patientData));
		    //formData.append("treatmentData", JSON.stringify(treatmentData));
		    formData.append("httpPostedFileBase", document.getElementById('profile-pic').files[0]);

		    $.ajax({
			    type: "POST",
			    url: '@Url.Action("SavePatientDetails", "Home")',
			    data: formData,
			    dataType: 'json',
			    contentType: false,
			    processData: false,
			    success: function(data) {
				    if (data[0] == true) {
					    $("#Id").val(data[1]);
					    $("#TokenNo").val(data[2]);
					    jAlert("Patient details saved successfully.", 'Information Dialog', function() {
						    //$("#divTreatment").hide();
						    //ClearTreatmentDetails();
						    //BindPatientTreatment();
                            $('#TreatmentViewModelData_PatientId').val(data[1]);
                            window.location = '/Home/PatientDetails?id=' + data[1] + '&mode=edit';
					    });
				    } else {
					    jAlert(data[1].toString(), 'Information Dialog');
				    }
			    },
			    error: function(error) {}
		    });
	        }
        }

    function ValidateCtrl() {
	    try {
		    if ($("#Name").val().trim() == "") {
			    jAlert("Patient name can not be empty.", 'Information Dialog');
			    return false;
		    }
		    if ($("#Mobile").val().trim() == "") {
			    jAlert("Mobile number can not be empty.", 'Information Dialog');
			    return false;
		    }
		    if ($("#DOB").val().trim() == "") {
			    jAlert("Date of birth can not be empty.", 'Information Dialog');
			    return false;
		    }
		    if ($("#Gender").val().trim() == "") {
			    jAlert("Gender can not be empty.", 'Information Dialog');
			    return false;
		    }

		    //var divTreatment = document.getElementById("divTreatment").style.display;
		    //if (divTreatment.toString().toUpperCase() == 'BLOCK') {
		    //	if ($("#TreatmentViewModelData_DoctorName").val().trim() == "") {
		    //		jAlert("Doctor Name can not be empty.", 'Information Dialog');
		    //		return false;
		    //	} else if ($("#TreatmentViewModelData_AppointmentDate").val().trim() == "") {
		    //		jAlert("Appointment Date can not be empty.", 'Information Dialog');
		    //		return false;
		    //	}
		    //}
	    } catch (err) {
		    jAlert(err, 'Information Dialog');
		    return false;
	    }

	    return true;
    }

    function OpenPage(url) {
	    location.href = url;
    }

    //clear patient treatment details
    function ClearTreatmentDetails() {
	    $('#TreatmentViewModelData_Id').val(0);
	    $('#TreatmentViewModelData_DoctorName').val('');
	    var apptDate = '@string.Format("{0:yyyy-MM-dd}", DateTime.Now)';
	    $('#TreatmentViewModelData_AppointmentDate').val(apptDate.split("-").reverse().join("/"));
	    $('#TreatmentViewModelData_TreatmentDate').val(apptDate.split("-").reverse().join("/"));
	    $('#TreatmentViewModelData_Treatment').val('');
	    $('#TreatmentViewModelData_LabId').data("kendoDropDownList").select(0);
	    var numericTextBox = $("#TreatmentViewModelData_Charges").data("kendoNumericTextBox");
        numericTextBox.value(0);

        ClearDrugsDetails();
        ClearTestsDetails();

        LoadPatientDrugGrid(false);
        LoadPatientTestGrid(false);
    }

    //referesh grid (to referesh after save/edit/delete etc operations)
    function BindPatientTreatment() {
	    $("#gridTreatmentHistory").data("kendoGrid").dataSource.page(1);
	    $("#gridTreatmentHistory").data("kendoGrid").dataSource.read({
		    patientId: $("#Id").val()
	    });
    }

    //fill patient treatment data to edit
    function FillTreatmentData(id) {
	    $.ajax({
		    type: "POST",
		    url: '@Url.Action("GetTreatmentDetailsById", "Home")',
		    data: {
			    id: id
		    },
		    cache: false,
		    dataType: 'json',
		    error: function(jqXHR, exception) {
			    jAlert(exception.toString());
		    },
		    success: function(data) {
			    if (data[0] == true) {
				    var item = data[1];
				    $("#divTreatment").show(100);
				    $('#TreatmentViewModelData_Id').val(id);
				    $('#TreatmentViewModelData_PatientId').val(item.PatientId);
				    $('#TreatmentViewModelData_DoctorName').val(item.DoctorName);
				    $('#TreatmentViewModelData_LabId').data("kendoDropDownList").value(item.LabId);
				    $('#TreatmentViewModelData_AppointmentDate').val(item.AppointmentDateString.split("-").reverse().join("/"));
				    $('#TreatmentViewModelData_TreatmentDate').val(item.TreatmentDateString.split("-").reverse().join("/"));
				    $('#TreatmentViewModelData_Treatment').val(item.Treatment);
				    var numericTextBox = $("#TreatmentViewModelData_Charges").data("kendoNumericTextBox");
				    numericTextBox.value(item.Charges);

                    $("#tabstrip").data("kendoTabStrip").select(1);
                    LoadPatientDrugGrid(true);
                    $('#Drug_list_div').show();
                    LoadPatientTestGrid(true);
                    $('#Test_list_div').show();
			    } else {
				    jAlert(data[1].toString(), 'Information Dialog');
			    }
		    }
	    });
    }

    //Delete treatment data
    function DeleteTreatment(id) {
	    jConfirm("Are you sure you want to delete this treatment?", "Confirmation Dialog", function(r) {
		    if (r) {
			    $.ajax({
				    type: "POST",
				    url: '@Url.Action("DeleteTreatmentDetailsById", "Home")',
				    data: {
					    id: id
				    },
				    cache: false,
				    dataType: 'json',
				    error: function(jqXHR, exception) {
					    jAlert(exception.toString());
				    },
				    success: function(data) {
					    if (data[0] == true) {
						    jAlert("Treatment details deleted successfully.", 'Information Dialog', function() {
							    ClearTreatmentDetails();
							    BindPatientTreatment();
						    });
					    } else {
						    jAlert(data[1].toString(), 'Information Dialog');
					    }
				    }
			    });
		    }
	    });
    }

    function showPreview(event) {
	    if (event.target.files.length > 0) {
		    var src = URL.createObjectURL(event.target.files[0]);
		    var preview = document.getElementById("profile-pic-preview");
		    preview.src = src;
		    preview.style.display = "block";
		    changeProfileCss(true);
	    }
    }

    function changeProfileCss(isUpload) {
	    if (isUpload) {
		    $('.widget-3.custom-text .labeltest').css('width', '100%');
		    $('.widget-3.custom-text .labeltest').css('height', '100%');
		    $('.widget-3.custom-text .labeltest').css('position', 'absolute');
		    $('.widget-3.custom-text .labeltest span').css('display', 'none');
		    $('.widget-3.custom-text .form-input').css('background-image', 'none');
	    } else {
		    //$('.widget-3.custom-text .labeltest').css('width', '100%');
		    //$('.widget-3.custom-text .labeltest').css('height', '100%');
		    //$('.widget-3.custom-text .labeltest').css('position', 'absolute');
		    $('.widget-3.custom-text .labeltest span').css('display', 'block');
		    $('.widget-3.custom-text .form-input').css('background-image', 'block');
	    }
    }

    function OnAllergyChanged(val) {
	    if (String(val).toLowerCase() === 'true') {
		    $('#Allergy_div').show();
	    } else {
		    $('#Allergy_div').hide();
		    $('#AllergyDetails').val('');
	    }
    }

    function SavedPatientTreatmentData() {
        if (parseInt($('#Id').val()) == 0) {
            jAlert("Something went wrong.", 'Information Dialog');
            return;
        } else if ($("#TreatmentViewModelData_DoctorName").val().trim() == "") {
		    jAlert("Doctor Name can not be empty.", 'Information Dialog');
		    return;
	    } else if ($("#TreatmentViewModelData_AppointmentDate").val().trim() == "") {
		    jAlert("Appointment Date can not be empty.", 'Information Dialog');
		    return;
	    }

	    var treatmentData = {
		    Id: $('#TreatmentViewModelData_Id').val(),
            PatientId: $('#Id').val(),
		    DoctorName: $('#TreatmentViewModelData_DoctorName').val(),
		    AppointmentDate: $('#TreatmentViewModelData_AppointmentDate').val().split("/").reverse().join("-"),
		    TreatmentDate: $('#TreatmentViewModelData_TreatmentDate').val().split("/").reverse().join("-"),
		    Treatment: $('#TreatmentViewModelData_Treatment').val(),
		    LabId: $('#TreatmentViewModelData_LabId').val(),
		    Charges: $('#TreatmentViewModelData_Charges').val()
	    };
	    $.ajax({
		    url: '@Url.Action("SavedPatientTreatmentData", "Home")',
		    type: 'POST',
		    cache: false,
		    data: treatmentData,
		    success: function(result) {
			    if (result && result[0]) {
				    jAlert("Patient treatment details saved successfully.", 'Information Dialog');
                    //clear drug form
                    $('#TreatmentViewModelData_Id').val(result[1].Id);
				    BindPatientTreatment();
			    } else {
				    jAlert(data[1].toString(), 'Information Dialog');
			    }
		    }
	    });
    }


    function AddDrugOrTest(val) {
        if (parseInt($('#Id').val()) == 0 || parseInt($('#TreatmentViewModelData_Id').val()) == 0) {
            jAlert("Please save or edit treatment details first ", 'Information Dialog');
            return;
        }
        if (String(val).toLowerCase() === 'drug') {
            ClearDrugsDetails();
            $('#Drug_div').show();
            $('#Drug_list_div').show();
            $('#Test_div').hide();
            //$('#Test_list_div').hide();
        } else {
            ClearTestsDetails();
            $('#Drug_div').hide();
            //$('#Drug_list_div').hide();
            $('#Test_div').show();
            $('#Test_list_div').show();
        }
    }

    //========================================================================

    function LoadPatientDrugGrid(isShow) {
	    $("#gridPatientDrugs").data("kendoGrid").dataSource.page(1);
	    setTimeout(function() {
		    $("#gridPatientDrugs").data("kendoGrid").dataSource.read({
			    treatmentId: $("#TreatmentViewModelData_Id").val()
            });
            if (isShow) {
                $('#Drug_list_div').show();
            } else {
                $('#Drug_list_div').hide();
            }
	    }, 500);
    }

    function SavedPatientDrug() {
        if (parseInt($('#Id').val()) == 0 || parseInt($('#TreatmentViewModelData_Id').val()) == 0) {
            jAlert("Something went wrong.", 'Information Dialog');
            return;
        }
        if ($('#PatientDrugsViewModel_DrugId').val().trim() == "" || parseInt($('#PatientDrugsViewModel_DrugId').val()) == 0) {
            jAlert("Please select drug.", 'Information Dialog');
            return;
        }
	    var drugData = {
		    Id: $('#PatientDrugsViewModel_Id').val(),
		    PatientId: $('#Id').val(),
		    TreatmentId: $('#TreatmentViewModelData_Id').val(),
		    DrugId: $('#PatientDrugsViewModel_DrugId').val(),
		    Dosage: $('#PatientDrugsViewModel_Dosage').val(),
		    DrugType: $('#PatientDrugsViewModel_DrugType').val(),
		    Frequency: $('#PatientDrugsViewModel_Frequency').val(),
		    Notes: $('#PatientDrugsViewModel_Notes').val()
	    };
	    $.ajax({
		    url: '@Url.Action("SavedPatientDrug", "Home")',
		    type: 'POST',
		    cache: false,
		    data: drugData,
		    success: function(result) {
			    if (result && result[0]) {
				    jAlert("Patient drug details saved successfully.", 'Information Dialog');
                    ClearDrugsDetails();
				    LoadPatientDrugGrid(true);
			    } else {
				    jAlert(data[1].toString(), 'Information Dialog');
			    }
		    }
	    });
    }

    //fill patient drug data to edit
    function FillDrugData(id) {
	    if ($("#TreatmentViewModelData_Id").val().trim() != "") {
		    $.ajax({
			    type: "POST",
			    url: '@Url.Action("GetDrugDetailsById", "Home")',
			    data: {
				    id: id,
				    treatmentId: $("#TreatmentViewModelData_Id").val()
			    },
			    cache: false,
			    dataType: 'json',
			    error: function(jqXHR, exception) {
				    jAlert(exception.toString());
			    },
			    success: function(data) {
				    if (data[0] == true) {
					    var item = data[1];
					    $("#Drug_div").show(100);
					    $('#PatientDrugsViewModel_Id').val(id);
					    $('#PatientDrugsViewModel_DrugId').data("kendoDropDownList").value(item.DrugId);
					    $('#PatientDrugsViewModel_Dosage').val(item.Dosage);
					    $('#PatientDrugsViewModel_DrugType').val(item.DrugType);
					    $('#PatientDrugsViewModel_Frequency').val(item.Frequency);
					    $('#PatientDrugsViewModel_Notes').val(item.Notes);
				    } else {
					    jAlert(data[1].toString(), 'Information Dialog');
				    }
			    }
		    });
	    }
    }

    //Delete drug data
    function DeleteDrugs(id) {
	    jConfirm("Are you sure you want to delete this patient drug?", "Confirmation Dialog", function(r) {
		    if (r) {
			    $.ajax({
				    type: "POST",
				    url: '@Url.Action("DeleteDrugDetailsById", "Home")',
				    data: {
					    id: id
				    },
				    cache: false,
				    dataType: 'json',
				    error: function(jqXHR, exception) {
					    jAlert(exception.toString());
				    },
				    success: function(data) {
					    if (data[0] == true) {
						    jAlert("Patient drug details deleted successfully.", 'Information Dialog', function() {
                                ClearDrugsDetails();
							    LoadPatientDrugGrid(true);
						    });
					    } else {
						    jAlert(data[1].toString(), 'Information Dialog');
					    }
				    }
			    });
		    }
	    });
    }

    //clear patient drug details
    function ClearDrugsDetails() {
        $("#Drug_div").hide();
        $('#PatientDrugsViewModel_Id').val(0);
        $('#PatientDrugsViewModel_DrugId').data("kendoDropDownList").select(0);
        $('#PatientDrugsViewModel_Dosage').val('');
        $('#PatientDrugsViewModel_DrugType').val('');
        $('#PatientDrugsViewModel_Frequency').val('');
        $('#PatientDrugsViewModel_Notes').val('');
    }

    //========================================================================

    function LoadPatientTestGrid(isShow) {
	    $("#gridPatientTests").data("kendoGrid").dataSource.page(1);
	    setTimeout(function() {
		    $("#gridPatientTests").data("kendoGrid").dataSource.read({
			    treatmentId: $("#TreatmentViewModelData_Id").val()
            });
            if (isShow) {
                $('#Test_list_div').show();
            } else {
                $('#Test_list_div').hide();
            }
	    }, 500);
    }

    function SavedPatientTest() {
        if (parseInt($('#Id').val()) == 0 || parseInt($('#TreatmentViewModelData_Id').val()) == 0) {
            jAlert("Something went wrong.", 'Information Dialog');
            return;
        }
        if ($('#PatientTestsViewModel_TestId').val().trim() == "" || parseInt($('#PatientTestsViewModel_TestId').val()) == 0) {
            jAlert("Please select test.", 'Information Dialog');
            return;
        }
	    var testData = {
		    Id: $('#PatientTestsViewModel_Id').val(),
		    PatientId: $('#Id').val(),
		    TreatmentId: $('#TreatmentViewModelData_Id').val(),
		    TestId: $('#PatientTestsViewModel_TestId').val(),
            TestDate: $('#PatientTestsViewModel_TestDate').val().split("/").reverse().join("-"),
            TestResult: $('#PatientTestsViewModel_TestResult').val(),
		    Notes: $('#PatientTestsViewModel_Notes').val()
	    };
	    $.ajax({
		    url: '@Url.Action("SavedPatientTest", "Home")',
		    type: 'POST',
		    cache: false,
		    data: testData,
		    success: function(result) {
			    if (result && result[0]) {
				    jAlert("Patient test details saved successfully.", 'Information Dialog');
                    ClearTestsDetails();
				    LoadPatientTestGrid(true);
			    } else {
				    jAlert(data[1].toString(), 'Information Dialog');
			    }
		    }
	    });
    }

    //fill patient test data to edit
    function FillTestData(id) {
	    if ($("#TreatmentViewModelData_Id").val().trim() != "") {
		    $.ajax({
			    type: "POST",
			    url: '@Url.Action("GetTestDetailsById", "Home")',
			    data: {
				    id: id,
				    treatmentId: $("#TreatmentViewModelData_Id").val()
			    },
			    cache: false,
			    dataType: 'json',
			    error: function(jqXHR, exception) {
				    jAlert(exception.toString());
			    },
			    success: function(data) {
				    if (data[0] == true) {
					    var item = data[1];
					    $("#Test_div").show(300);
					    $('#PatientTestsViewModel_Id').val(id);
                        $('#PatientTestsViewModel_TestId').data("kendoDropDownList").value(item.TestId);
                        $('#PatientTestsViewModel_TestDate').val(item.TestDateString.split("-").reverse().join("/"));
                        $('#PatientTestsViewModel_TestResult').val(item.TestResult);
					    $('#PatientTestsViewModel_Notes').val(item.Notes);
				    } else {
					    jAlert(data[1].toString(), 'Information Dialog');
				    }
			    }
		    });
	    }
    }

    //Delete test data
    function DeleteTests(id) {
	    jConfirm("Are you sure you want to delete this patient test?", "Confirmation Dialog", function(r) {
		    if (r) {
			    $.ajax({
				    type: "POST",
				    url: '@Url.Action("DeleteTestDetailsById", "Home")',
				    data: {
					    id: id
				    },
				    cache: false,
				    dataType: 'json',
				    error: function(jqXHR, exception) {
					    jAlert(exception.toString());
				    },
				    success: function(data) {
					    if (data[0] == true) {
						    jAlert("Patient test details deleted successfully.", 'Information Dialog', function() {
                                ClearTestsDetails();
							    LoadPatientTestGrid(true);
						    });
					    } else {
						    jAlert(data[1].toString(), 'Information Dialog');
					    }
				    }
			    });
		    }
	    });
    }

    //clear patient test details
    function ClearTestsDetails() {
        $("#Test_div").hide();
        $('#PatientTestsViewModel_Id').val(0);
        $('#PatientTestsViewModel_TestId').data("kendoDropDownList").select(0);
        var testDt = '@string.Format("{0:yyyy-MM-dd}", DateTime.Now)';
        $('#PatientTestsViewModel_TestDate').val(testDt.split("-").reverse().join("/"));
        $('#PatientTestsViewModel_TestResult').val('');
        $('#PatientTestsViewModel_Notes').val('');
    }

</script>
