﻿@using Kintal_Detanl.Models;
@model TestViewModel
@using Kendo.Mvc.UI;

@{
    IEnumerable<string> dateFormats = new string[] { "yyyy", "d-M-yyyy", "d-MM-yyyy", "dd-MM-yyyy", "d-M-yy", "d-MM-yy", "dd-MM-yy", "dd-MM", "d/M/yyyy", "d/MM/yyyy", "dd/MM/yyyy", "d/MM/yy", "dd/MM/yy", "dd/MM", "d.M.yyyy", "d.MM.yyyy", "dd.MM.yyyy", "d.M.yy", "d.MM.yy", "dd.MM.yy", "dd.MM", "dd", "MMM", "MMMM" };
    ViewBag.Title = "Test Details";
}


<style>
    .k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-colorpicker .k-i-arrow-s, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row > th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
        border: 0.5px solid #f3f3f3 !important;
        color: #495057 !important;
        opacity: 0.9;
    }

        .k-autocomplete.k-state-default .k-input, .k-combobox .k-state-default .k-input, .k-multiselect-wrap, .k-numeric-wrap.k-state-default .k-input, .k-picker-wrap.k-state-default .k-input, .k-progress-status-wrap, .k-slider-selection, .k-slider-track {
            box-shadow: unset !important;
        }

        .k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
            height: 40px;
        }

    .k-numeric-wrap .k-select {
        padding-top: 5px !important;
    }

    select.form-control, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
        color: #495057;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmTestDetails" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row" style="margin-top:-15px;">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Test Details</h4>
                    <div class="form-block">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.TestName, new { @class = "form-control", @placeholder = "Test Name" })</div>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">@Html.TextBoxFor(m => m.GenericName, new { @class = "form-control", @placeholder = "Generic Name" })</div>
                                </div>
                            </div>*@

                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Description", @rows = "3" }) @*<textarea class="form-control" placeholder="Address" rows="3"></textarea>*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="btn-outer">
                                <input type="button" onclick="SaveTestData();" class="btn btn-primary" value="Save" />
                                <input type="button" onclick="OpenPage('@Url.Action("TestList", "Test")');" class="btn btn-light" value="Close" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.HiddenFor(x => x.Id)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
     $(function () {
         if ('@ViewBag.PageMode' == "view") {
             $("#frmTestDetails :input").prop('disabled', 'disabled');
         }
    });

    function SaveTestData() {
        if (ValidateCtrl()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("TestDetails", "Test")',
                data: $('#frmTestDetails').serialize(),
                cache: false,
                success: function (data) {
                    if (data[0] == true) {
                        jAlert("Test details saved successfully.", 'Information Dialog', function () {
                            window.location.href = '/Test/TestList';
                        });
                    }
                    else {
                        jAlert(data[1].toString(), 'Information Dialog');
                    }
                },
                error: function (error) {
                }
            });
        }
    }

    function ValidateCtrl() {
        try {
            if ($("#TestName").val().trim() == "") {
                jAlert("Test name can not be empty.", 'Information Dialog');
                return false;
            }
        } catch (err) {
            jAlert(err, 'Information Dialog');
            return false;
        }
        return true;
    }

</script>
